{% extends 'base.html.twig'%}




    {% block title %}Pizza Sopranos{% endblock %}
{% block body %}

    {#    <h2 class="text-center">categories ({{ categories|length }})</h2>#}



    <div class="container">
        <div class="card-deck">
            <div class="row">
                {% for pizza in pizza %}

                    <div class="col-sm-12 col-md-9 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <p>{{ pizza.name }}</p>
                                <p class="card-text">Bekijk de lekkerste pizza's bij deze categorie.</p>
                                <a href="pizza.html.twig" class="btn btn-danger">Bestel Pizza {{ pizza.name }}</a>
                                {#                                <a href="#" class="btn btn-danger">Naar Pizza  </a>#}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
